*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 340px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: tab-land) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: tab-port) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: big-desktop) {
  html {
    font-size: 75%;
  }
}

::-moz-selection {
  background-color: #2d6a4f;
  color: #fff;
}

::selection {
  background-color: #2d6a4f;
  color: #fff;
}

ul > li {
  list-style: none;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

.case {
  max-width: 80%;
  margin: 0 auto;
}

body {
  color: #1b2701;
  font-family: "Poppins", -apple-system;
  font-size: 1.6rem;
}

.text-green {
  color: #268626;
}

.f-fat {
  font-weight: 600;
}

.heading {
  font-family: inherit;
  color: #000;
}

.heading__primary {
  font-size: 3.5rem;
  font-weight: 400;
}

.heading__secondary {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.heading__tart {
  font-size: 1.4rem;
  font-weight: 300;
}

.my-radius {
  border-radius: 1rem;
}

.my-radius-b {
  border-radius: 0 0 1rem 1rem;
}

.outline-none {
  outline: none;
}

.img-cover {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-grey {
  background-color: #f4f4f4;
}

.bg-white-tp {
  background-color: rgba(255, 255, 255, 0.95);
}

.my-link {
  font-size: 1.4rem;
  color: #40a944;
}

.my-link:hover {
  color: #40a944;
  text-decoration: underline;
}

.my-link-black {
  font-size: 1.4rem;
  color: inherit;
}

.my-link-black:hover {
  color: #40a944;
  text-decoration: underline;
}

.name-link-black {
  font-size: 1.8rem;
  color: red;
}

.name-link-black:hover {
  color: #40a944;
  text-decoration: underline;
}

.read {
  max-width: 65ch;
}

.read-post {
  max-width: 60ch;
}

.read-sm {
  max-width: 35ch;
}

.t-xlg {
  font-size: 2.5rem;
}

.t-lg {
  font-size: 1.8rem;
}

.t-md {
  font-size: 2rem;
}

.t-small {
  font-size: 1.4rem;
}

.t-bold {
  font-weight: 600;
}

.t-bolder {
  font-weight: 700;
}

.t-italic {
  font-style: italic;
}

.lh-16 {
  line-height: 16px;
}

.u-w-15 {
  width: 15%;
}

.radius-left-50 {
  border-radius: 50rem 0 0 50rem !important;
}

.radius-right-50 {
  border-radius: 0 50rem 50rem 0 !important;
}

.form-control {
  font-size: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-width: 2px;
}

.form-control:focus {
  border: 2px solid #40a944;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  font-size: inherit;
}

.form-control:-ms-input-placeholder {
  font-size: inherit;
}

.form-control::-ms-input-placeholder {
  font-size: inherit;
}

.form-control::placeholder {
  font-size: inherit;
}

.f-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooltip-inner {
  font-weight: 400;
  color: #fff;
  background-color: #40a944;
  font-size: 1.6rem;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #40a944;
}

.custom-control-input-green:focus ~ .custom-control-label::before {
  border-color: #28a745 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input-green:checked ~ .custom-control-label::before {
  border-color: #28a745 !important;
  background-color: #28a745 !important;
}

.custom-control-input-green:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #5bd778 !important;
}

.custom-control-input-green:not(:disabled):active ~ .custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}

.custom-control-label::before {
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
}

.custom-control-label::after {
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
}

.my-btn {
  padding: 1rem 2rem;
  background-color: #40a944;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.my-btn:hover {
  color: #fff;
  background-color: #2d6a4f;
}

.my-btn-lg {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #40a944;
  color: #fff;
}

.my-btn-lg:hover {
  color: #fff;
  background-color: #2d6a4f;
}

.my-btn-lg i {
  font-size: 2rem;
}

@media only screen and (max-width: 575px) {
  .my-btn-lg i {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .my-btn-lg {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .my-btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
}

.banner--big {
  min-height: 15rem;
}

.banner__title {
  font-size: 2rem;
  font-weight: 300;
}

@media only screen and (max-width: 767px) {
  .banner__title--big {
    font-size: 2rem;
  }
}

.banner__cta {
  font-size: 1.6rem;
  font-weight: 500;
}

.banner__img-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.banner__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sd-ban:focus {
  outline: none;
}

.sd-ban__title {
  text-align: center;
  background-color: #40a944;
  color: #fff;
  margin-bottom: 0;
  padding: 1.5rem 0;
  font-size: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.sd-ban__inner {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sd-ban__name {
  font-size: 2.2rem;
  font-weight: 400;
}

.sd-ban__tag {
  font-size: 1.4rem;
}

.sd-ban__price {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.sd-ban__price span {
  font-size: 2.2rem;
  font-weight: 500;
}

.sd-ban a {
  color: #fff;
}

.side-slider {
  position: relative;
  background-color: #fff;
}

.side-slider .slick-prev,
.side-slider .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.side-slider .slick-prev i,
.side-slider .slick-next i {
  font-size: 2rem;
  color: #000;
}

.side-slider .slick-prev {
  left: 0;
}

.side-slider .slick-next {
  right: 0;
}

.sp-hori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
}

.sp-hori--sm {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (min-width: 430px) and (max-width: 575px) {
  .sp-hori {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.sp-hori__info {
  margin: 0 auto;
}

@media only screen and (min-width: 430px) and (max-width: 575px) {
  .sp-hori__info {
    margin: 0 0;
  }
}

.sp-hori__name {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-hori__tag {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.sp-hori__tag:hover {
  color: #40a944;
  cursor: pointer;
}

.sp-hori__price span {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-hori__price del {
  font-size: 1.4rem;
}

.sp-hori__cta {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sp-hori__cta a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.sp-hori__cta i {
  width: 80%;
  margin: 0 auto;
  color: #40a944;
  background-color: #fff;
  padding: 2px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.sp-hori__cta i:hover {
  cursor: pointer;
}

.card-img-side {
  -o-object-fit: cover;
     object-fit: cover;
  height: 14rem;
  width: 14rem;
  background-color: #f4f4f4;
}

.card-img-sm {
  -o-object-fit: cover;
     object-fit: cover;
  height: 8rem;
  width: 8rem;
  background-color: #f4f4f4;
}

.group-slider {
  position: relative;
  background-color: #fff;
}

.group-slider .slick-prev,
.group-slider .slick-next {
  position: absolute;
  top: -4rem;
  z-index: 1;
  cursor: pointer;
}

.group-slider .slick-prev i,
.group-slider .slick-next i {
  font-size: 2rem;
  color: #000;
}

.group-slider .slick-prev {
  right: 2rem;
}

.group-slider .slick-next {
  right: 0rem;
}

.bg-ban__subtitle {
  font-size: 1.8rem;
  font-weight: 400;
}

@media only screen and (max-width: 450px) {
  .bg-ban__subtitle {
    font-size: 1.2rem;
  }
}

.bg-ban__title {
  font-size: 4rem;
  font-weight: 300;
  margin: 0 0 1.5rem 0;
}

@media only screen and (max-width: 767px) {
  .bg-ban__title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

@media only screen and (max-width: 575px) {
  .bg-ban__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.bg-ban__img-container {
  width: 45rem;
}

.group-slider-vert div:focus, .cart-slider div:focus,
.group-slider-vert a:focus,
.cart-slider a:focus {
  outline: none;
}

.group-slider-vert .slick-prev, .cart-slider .slick-prev,
.group-slider-vert .slick-next,
.cart-slider .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.group-slider-vert .slick-prev i, .cart-slider .slick-prev i,
.group-slider-vert .slick-next i,
.cart-slider .slick-next i {
  font-size: 2.5rem;
  color: #000;
}

.group-slider-vert .slick-prev, .cart-slider .slick-prev {
  left: -3rem;
}


.group-slider-vert .slick-next,
.cart-slider .slick-next {
  right: -3rem;
}

.cart-slider .slick-prev {
  left: 0rem;
}

.cart-slider .slick-next {
  right: 0rem;
}

.sp-vert {
  margin-right: 1.5rem;
  border-radius: 5px;
}

.sp-vert.card {
  border: none;
}

.sp-vert__info {
  margin: 0 auto;
}

@media only screen and (min-width: 430px) and (max-width: 575px) {
  .sp-vert__info {
    margin: 0 0;
  }
}

.sp-vert__name {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-vert__tag {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.sp-vert__tag:hover {
  color: #40a944;
  cursor: pointer;
}

.sp-vert__price span {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-vert__price del {
  font-size: 1.4rem;
}

.sp-vert__cta {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sp-vert__cta a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.sp-vert__cta i {
  font-size: 2rem;
  color: #40a944;
  background-color: #fff;
  padding: 2px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.sp-vert__cta i:hover {
  cursor: pointer;
}

.sp-vert small {
  font-size: 1.2rem;
}

.card-img-vert {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 575px) {
  .card-img-vert {
    widht: 8rem;
    height: 8rem;
  }
}

.testimonials div:focus {
  outline: none;
}

.testimonials__img {
  width: 100% !important;
}

@media only screen and (max-width: 768px) {
  .testimonials__img {
    width: 50% !important;
  }
}

.testimonials .slick-prev,
.testimonials .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.testimonials .slick-prev i,
.testimonials .slick-next i {
  font-size: 2rem;
  color: #000;
}

.testimonials .slick-prev {
  left: 0;
}

.testimonials .slick-next {
  right: 0;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.blog-card__up {
  height: 17rem;
}

.blog-card__up {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-card__up--1 {
  background-image: url(../../img/fresh-farm-sm.jpg);
}

.blog-card__up--2 {
  background-image: url(../../img/blog-1.jpg);
  background-position: top;
}

.blog-card__up--3 {
  background-image: url(../../img/blog-2.jpg);
}

.blog-card__up--4 {
  background-image: url(../../img/blog-3.jpg);
}

.blog-card__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-card__info {
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-card__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 20px;
  color: #2d6a4f;
  margin-bottom: 0;
}

.blog-card__title a:hover {
  text-decoration: underline;
}

.blog-card__date {
  font-size: 1.4rem;
  font-style: italic;
  margin: 0.5rem 0;
}

.blog-card__desc {
  line-height: 20px;
}

.product-variation-slider {
  margin-top: 2rem;
  padding: 0 2rem;
}

.s-controls-side div:focus {
  outline: none;
}

.s-controls-side .slick-prev,
.s-controls-side .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.s-controls-side .slick-prev i,
.s-controls-side .slick-next i {
  font-size: 2rem;
  color: #000;
}

.s-controls-side .slick-prev {
  left: 0;
}

.s-controls-side .slick-next {
  right: 0;
}

.drops {
  position: relative;
  cursor: pointer;
}

.drops__title {
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 99;
}

.drops__title--primary {
  background-color: #40a944;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.drops__title--primary i {
  font-size: 2rem;
}

.drops__list {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  background-color: #d6f0d6;
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.drops__list li:hover {
  color: #40a944;
}

.drops__list--small {
  font-size: 1.4rem;
  width: 10rem;
}

.drops__list--small li {
  margin-bottom: 3px;
}

.drops__list--big {
  width: 100%;
  font-size: 1.8rem;
}

.drops__list--big li {
  padding-top: 1rem;
  margin-bottom: 5px;
}

.drops:hover .drops__list {
  opacity: 1;
  visibility: visible;
  top: 2.5rem;
}

.drops:hover .drops__list--big {
  top: 3.5rem;
}

.header .case,
.my-nav .case {
  max-width: 80%;
  margin: auto;
}

@media only screen and (max-width: 920px) {
  .header .case,
  .my-nav .case {
    max-width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .header .case,
  .my-nav .case {
    max-width: 100%;
  }
}

.header-sub {
  padding: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 575px) {
  .header-sub {
    display: none;
  }
}

.header-sub .my-btn {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  color: #fff;
  position: relative;
  z-index: 1130;
}

.header-sub__language, .header-sub__currency {
  position: relative;
  cursor: pointer;
}

.header-sub__language-list, .header-sub__currency-list {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1120;
  font-size: 1.4rem;
  width: 10rem;
  background-color: #d6f0d6;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-sub__language-list li, .header-sub__currency-list li {
  margin-bottom: 5px;
}

.header-sub__language:hover .header-sub__language-list {
  opacity: 1;
  visibility: visible;
  top: 2.5rem;
}

.header-sub__currency:hover .header-sub__currency-list {
  opacity: 1;
  visibility: visible;
  top: 2.5rem;
}

.header-sub__socials a:not(:last-child) {
  margin-right: 0.5rem;
}

.header-sub__socials i {
  font-size: 2rem;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 575px) {
  .header-top {
    padding: 1rem 1rem;
  }
}

.header-top__logo {
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.7em;
}

@media only screen and (max-width: 575px) {
  .header-top__logo {
    font-size: 2rem;
  }
}

.header-top__search {
  margin-left: auto;
  width: 100%;
}

.header-top__search form {
  width: 100%;
}

@media only screen and (max-width: 575px) {
  .header-top__search {
    margin-left: 1rem;
  }
}

.header-top__search .input-group {
  width: 40rem;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .header-top__search .input-group {
    width: 30rem;
  }
}

@media only screen and (max-width: 575px) {
  .header-top__search .input-group {
    width: 80%;
    margin: 0 auto;
  }
}

.header-top__search .form-control {
  font-size: 1.6rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  border-radius: 1rem;
  padding: 2rem 1rem;
  border: none;
  background-color: rgba(64, 169, 68, 0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
}

.header-top__search .form-control:focus {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  background-color: #f4f4f4;
}

.header-top__search .form-control:focus + .input-group-append {
  right: -1rem;
}

.header-top__search .input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  height: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 9;
}

.header-top__search .input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 2rem;
  background-color: #40a944;
  padding: 0 1rem;
  border-radius: 1rem;
}

.header-top__search i {
  color: #fff;
}

.header-top__login {
  margin-left: auto;
  font-size: 1.6rem;
}

.header-top__login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #40a944;
}

.header-top__login i {
  color: #40a944;
  font-size: 2.5rem;
}

.header-top__login .f-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-top__login .f-center i {
  margin-right: 5px;
}

@media only screen and (max-width: 550px) {
  .header-top__login .f-center i {
    margin-right: 0;
    font-size: 2rem;
  }
}

.header-top__login .f-center span {
  font-size: 1.4rem;
}

@media only screen and (max-width: 575px) {
  .header-top__login {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-top__login {
    margin-right: 1.5rem;
  }
}

.header-top__cart {
  margin-left: auto;
}

@media only screen and (max-width: 575px) {
  .header-top__cart {
    display: none;
  }
}

.header-top__cart i {
  font-size: 3.5rem;
  color: #40a944;
}

.header-top__count {
  font-family: "Poppins";
  font-size: 1.4rem;
  color: #40a944;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 790px) {
  .header-menu .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 575px) {
  .header-menu .navbar-nav {
    display: none;
  }
}

.header-menu .navbar-nav .nav-item {
  margin-right: 1.25rem;
}

@media only screen and (max-width: 767px) {
  .header-menu .navbar-nav .nav-item {
    margin-right: 0.75rem;
  }
}

.header-menu .nav-item.active {
  border-bottom: 3px solid #40a944;
}

.header-menu .nav-item.active .nav-link {
  font-weight: 500;
  color: #40a944;
}

@media only screen and (max-width: 767px) {
  .header-menu .nav-item.active .nav-link {
    font-size: 1.4rem;
  }
}

.header-menu__hotline i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #40a944;
}

@media only screen and (max-width: 790px) {
  .header-menu__hotline {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header-menu .drops__title {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 575px) {
  .header-menu .drops {
    display: none;
  }
}

.header-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 1020;
}

@media only screen and (min-width: 576px) {
  .header-bottom {
    display: none;
  }
}

.header-bottom__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.header-bottom__item {
  margin: 1rem 1.5rem;
}

.header-bottom__link i {
  font-size: 2.5rem;
  color: #2d6a4f;
}

.header-bottom__link span {
  font-size: 1.2rem;
  color: #2d6a4f;
  font-weight: 500;
}

.hero {
  margin: 1rem 0;
  color: #fff;
  position: relative;
}

.hero__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem 6rem;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 575px) {
  .hero__slide {
    height: 60vh;
  }
}

.hero__slide--1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(64, 169, 68, 0.2)), to(rgba(64, 169, 68, 0.2))), url("../../img/veggie-bg.jpg");
  background-image: linear-gradient(90deg, rgba(64, 169, 68, 0.2), rgba(64, 169, 68, 0.2)), url("../../img/veggie-bg.jpg");
}

.hero__slide--2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(64, 169, 68, 0.2)), to(rgba(64, 169, 68, 0.2))), url("../../img/grapes.jpg");
  background-image: linear-gradient(90deg, rgba(64, 169, 68, 0.2), rgba(64, 169, 68, 0.2)), url("../../img/grapes.jpg");
}

.hero__slide--3 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(64, 169, 68, 0.2)), to(rgba(64, 169, 68, 0.2))), url("../../img/grain/grain-wheat.jpg");
  background-image: linear-gradient(90deg, rgba(64, 169, 68, 0.2), rgba(64, 169, 68, 0.2)), url("../../img/grain/grain-wheat.jpg");
}

.hero__title {
  font-size: 5rem;
}

.hero__desc {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero__desc p {
  max-width: 60ch;
}

.hero__cta {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #fffd98;
  color: black;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
}

.hero__cta:hover {
  color: black;
}

.hero .slick-prev,
.hero .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.hero .slick-prev i,
.hero .slick-next i {
  font-size: 4rem;
  color: #f4f4f4;
}

.hero .slick-prev {
  left: 0;
}

.hero .slick-next {
  right: 0;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .footer [class*="col-"] {
    text-align: center;
  }
}

.footer__icon {
  font-size: 40px;
  margin-right: 20px;
}

.footer__icon a {
  color: inherit;
}

.footer__title {
  font-size: 20px;
  font-weight: bold;
  color: #2d6a4f;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (max-width: 991px) {
  .footer__items {
    margin-bottom: 30px;
  }
}

.footer__items a {
  color: inherit;
}

.footer__items a:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .info__img {
    display: none;
    visibility: hidden;
  }
  .info-sm__img {
    color: #fff;
    font-size: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .info-sm__img--1 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/explore.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/explore.jpg");
  }
  .info-sm__img--2 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/create.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/create.jpg");
  }
  .info-sm__img--3 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/exp.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/exp.jpg");
  }
}

.section-banner {
  margin: 5rem 0;
}

.product-highlights {
  background-color: #f4f4f4;
  padding: 3rem 0;
}

.product-highlights .case {
  max-width: 90%;
}

.big-banner-section {
  background-color: #f4f4f4;
  margin: 5rem 0;
}

.famous-section {
  margin: 5rem 0;
  padding: 5rem 0;
}

.testimonials-section {
  margin: 5rem;
}

.testimonials-section .test-comment {
  max-width: 65ch;
  font-weight: 600;
  color: #777777;
  font-size: 2.5rem;
  line-height: 32.5px;
}

.blogs-section {
  padding: 5rem 0 2rem 0;
  background-color: #f4f4f4;
}

.cart-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

@media only screen and (max-width: 767px) {
  .cart-body .case {
    with: 100%;
  }
}

.cart-body thead tr th {
  border-bottom: 3px solid #40a944;
}

.cart-body tbody tr th,
.cart-body tbody tr td {
  border-top: 1px solid rgba(64, 169, 68, 0.4);
}

@media only screen and (max-width: 575px) {
  .cart-body thead {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .cart-body .cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-body .cart-item td {
    width: 100%;
  }
}

.cart-body th {
  text-align: center;
}

.cart-body th,
.cart-body td {
  text-align: center;
  vertical-align: middle;
  padding: 1rem 0;
}

@media only screen and (max-width: 575px) {
  .cart-body .cart-action {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.cart-body .cart-action i {
  font-size: 3rem;
  color: #dbdbdb;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cart-body .cart-action i:hover {
  color: #dc3545;
  cursor: pointer;
}

.cart-body form .form-control {
  font-size: 2rem;
}

.cart-body form .form-control:focus {
  border: 1px solid #40a944;
}

.cart-body form .form-control::-webkit-input-placeholder {
  font-size: inherit;
}

.cart-body form .form-control:-ms-input-placeholder {
  font-size: inherit;
}

.cart-body form .form-control::-ms-input-placeholder {
  font-size: inherit;
}

.cart-body form .form-control::placeholder {
  font-size: inherit;
}

.cart-body .cart-quantity {
  width: 40%;
}

@media only screen and (max-width: 767px) {
  .cart-body .cart-quantity {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .cart-body .cart-quantity {
    width: 40%;
  }
}

.cart-body .cart-quantity [type~="number"] {
  padding: 1rem;
}

.cart-checkout {
  margin-top: 5rem;
  padding: 3rem 0;
}

.cart-checkout .card-header {
  background-color: #d6f0d6 !important;
}

.cart-checkout .card-body .y2 {
  padding: 1rem 0;
  border-bottom: 1px solid #d6f0d6;
}

.blog-header {
  margin: 2rem 0;
}

.s-post__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/blog-1.jpg");
  background-position: center top;
  padding: 23rem 0;
}

.s-post__content {
  background-color: #fff;
  margin-top: -10rem;
  border-radius: 2rem 2rem 5px 5px;
  padding: 1.5rem;
}

.s-post__title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 50px;
}

.s-post__desc {
  font-size: 1.8rem;
  line-height: 35px;
}

.s-post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #777777;
}

.s-post__date i {
  font-size: 2rem;
  color: #40a944;
  margin-right: 0.5rem;
}

.s-post__author i {
  font-size: 2rem;
  color: #40a944;
  margin-right: 0.5rem;
}

.s-post__footer {
  padding: 1.5rem;
}

.s-post__tag span {
  margin-right: 1rem;
}

.s-post__tag a {
  margin-right: 0.5rem;
}

.s-post__link a {
  margin-right: 0.5rem;
}

.s-post__link i {
  font-size: 2rem;
}

.s-post__list-title {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .s-post__list-title {
    text-align: center;
  }
}

.s-post__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .s-post__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .s-post__list a {
    margin: 0 1rem;
  }
}

.single-product-section {
  margin: 2rem 0;
  padding: 5rem 0;
  background-color: #f4f4f4;
}

.s-product {
  background-color: #fff;
}

@media only screen and (max-width: 991px) {
  .s-product__img-container {
    width: 50% !important;
    margin: 0 auto;
  }
}

.s-product__name {
  font-size: 3rem;
  color: #2d6a4f;
}

.s-product__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
  color: #2d6a4f;
}

.s-product__review i {
  margin-right: 2px;
}

.s-product__price {
  color: #2d6a4f;
}

.s-product__desc {
  margin: 2rem 0;
}

.s-product__avail {
  margin: 1rem 0;
}

.s-product__others {
  margin-top: 3rem;
}

.s-product__desc-big {
  font-size: 1.8rem;
  line-height: 35px;
}

.s-product [type="submit"] {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.s-product .nav-tabs {
  border-bottom: 2px solid #40a944;
}

.s-product .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.s-product .nav-tabs .nav-item {
  margin-bottom: -2px;
}

.s-product .nav-tabs .nav-link.active {
  border-width: 2px 2px 0px 2px;
  border-color: #40a944 #40a944 #fff #40a944;
}

.related-product-section,
.upsell-product-section {
  padding: 3rem 0;
}
