*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px

  @include respondMax(340px) {
    font-size: 50%;
  }

  @include respondMax(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }

  @include respondMax(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include respondMax(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

::selection {
  background-color: $color-primary-dark;
  color: $color-white;
}

ul > li {
  list-style: none;
}
a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  // color: $color-white;
  color: inherit;
  outline: none;
  border: none;
}

.case {
  max-width: 80%;
  margin: 0 auto;
}
